body>nav
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 50px;
  text-align: center;
}
body>nav:after
{
  content: attr(data-timer);
  position: absolute;
  bottom: 0px;
  margin-left: 15px;
  line-height: 50px;
  font-size: 24px;
  color: #999999;
}
body>footer
{
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 60px;
  text-align: center;
}
/* stats in the footer */
body>footer:before
{
  content: "Round " attr(data-round);
  margin-right: 15px;
  font-size: 24px;
  color: #999999;
}
/* elements */
hr
{
  display: inline-block;
  width: 0px;
  height: 20px;
  margin: 25px 18px 0px 16px;
  border-left: 1px solid #cccccc;
}
button
{
  display: inline-block;
  min-width: 50px;
  width: auto;
  height: 50px;
  margin: 0px 10px;
  padding: 0px 15px;
  border-radius: 50px;
  background-clip: padding-box;
  font-size: 24px;
  color: #444444;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #eeeeee), color-stop(1, #999999));
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #ffffff;
  text-shadow: 0px 0px 1px #666666;
}
  button.answer
  {
    color: #ff0000;
  }
  button.active
  {
    color: rgba(51, 51, 255, 0.8);
    text-shadow: 0px 0px 1px #666666, 0px 0px 12px rgba(0, 0, 255, 0.5);
  }
  button.busy
  {
    opacity: 0.4;
    cursor: default;
  }
  button:hover
  {
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #cccccc), color-stop(1, #777777));
  }
  button:active,
  button.busy
  {
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #777777), color-stop(1, #cccccc));
  }
  /* custom buttons */
  button[data-item=timer]
  {
    color: #ffffff;
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #00ee00), color-stop(1, #009900));
    box-shadow: 0px 0px 1px 1px #00ff00;
    text-shadow: 0px 0px 1px 1px #004400;
  }
    button[data-item=timer]:hover
    {
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #00cc00), color-stop(1, #007700));
    }
    button[data-item=timer]:active,
    button[data-item=timer].busy
    {
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #007700), color-stop(1, #00cc00));
    }
    button[data-item=timer].active
    {
      color: rgba(51, 51, 51, 0.8);
      text-shadow: 0px 0px 1px #666666, 0px 0px 12px rgba(255, 255, 255, 1);
    }
    /* disable timer button until game starts
     * and paint Start button as call to action
    */
    body.waiting button[data-item=timer],
    body.waiting button[data-item=final],
    body.waiting .questions>button
    {
      color: #444444;
      background-color: #cccccc;
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #eeeeee), color-stop(1, #999999));
      box-shadow: 0px 0px 1px 1px #ffffff;
      opacity: 0.3;
      pointer-events: none;
    }
    body.waiting button[data-item=round]
    {
      color: #ffffff;
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #00ee00), color-stop(1, #009900));
      box-shadow: 0px 0px 1px 1px #00ff00;
      text-shadow: 0px 0px 1px 1px #004400;
    }

  button[data-item=reset]
  {
    color: #ffffff;
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #ee0000), color-stop(1, #990000));
    box-shadow: 0px 0px 1px 1px #ff0000;
    text-shadow: 0px 0px 1px 1px #440000;
  }
    button[data-item=reset]:hover
    {
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #cc0000), color-stop(1, #770000));
    }
    button[data-item=reset]:active,
    button[data-item=reset].busy
    {
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #770000), color-stop(1, #cc0000));
    }

/* scoreboard */

#teams
{
  padding: 7% 1% 4%;
  font-size: 24px;
}
  /* no need for special guest separator */
  #teams.special_guest:before
  {
    content: none;
  }
.team
{
  height: 70px;
}
  #teams.special_guest>.team.static
  {
    top: 50px;
  }
  .team.busy
  {
    opacity: 0.5;
  }
  /* setup specific */
  .team.selected
  {
    color: #ff0000;
  }
.team:hover
{
  text-shadow: 0px 0px 15px #ffffff;
}
/* adjusting round points */
.team>ol
{
  position: absolute;
  max-width: 560px;
  width: auto;
  margin-top: -10px;
  padding: 0px 10px;
  background-color: #222222;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-clip: padding-box;
  text-align: left;
  box-shadow: 0px 0px 0px 3px rgba(180, 180, 180, 0.5);
  cursor: default;
  z-index: 1;
}
  .team>ol.reverse
  {
    right: 0px;
    text-align: right;
  }
.team>ol:before
{
  content: "";
  position: absolute;
  display: block;
  left: 30px;
  top: -7px;
  width: 16px;
  height: 16px;
  background-color: #222222;
  box-shadow: 1px 1px 0px #ffffff, 4px 4px 0px rgba(180, 180, 180, 0.5);
  -webkit-transform: rotate(-135deg);
  z-index: -1;
}
  .team>ol.reverse:before
  {
    left: auto;
    right: 30px;
  }
.team>ol>li
{
  list-style: none;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 8px;
  line-height: 40px;
  border-radius: 40px;
  font-size: 20px;
  color: #444444;
  text-align: center;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #eeeeee), color-stop(1, #999999));
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0px 0px 1px 1px #888888;
  text-shadow: 0px 0px 1px #888888;
}
  .team>ol>li.point
  {
    opacity: 1;
  }
.team>ol>li.point:before
{
  content: "\2713";
  position: absolute;
  right: -3px;
  bottom: -5px;
  font-size: 24px;
  font-weight: bold;
  color: #00dd00;
  text-shadow: 0px 0px 3px #333333;
}
  .team>ol>li:hover
  {
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #cccccc), color-stop(1, #777777));
  }
  .team>ol>li.active
  {
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #777777), color-stop(1, #cccccc));
  }

/* hide add team button when game started */

body:not(.waiting) button[data-item=team]
{
  color: #444444;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #eeeeee), color-stop(1, #999999));
  box-shadow: 0px 0px 1px 1px #ffffff;
  opacity: 0.3;
  pointer-events: none;
}
