body
{
  font-family: "Ubuntu", sans-serif;
  background-color: #000000;
  color: #ffffff;
}
body>nav
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 50px;
  text-align: center;
}
body>nav:after
{
  content: attr(data-timer);
  position: absolute;
  bottom: 0px;
  margin-left: 15px;
  line-height: 50px;
  font-size: 24px;
  color: #999999;
}
body>footer
{
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 60px;
  text-align: center;
}
/* stats in the footer */
body>footer:before
{
  content: "Round " attr(data-round);
  margin-right: 15px;
  font-size: 24px;
  color: #999999;
}
/* elements */
hr
{
  display: inline-block;
  width: 0px;
  height: 20px;
  margin: 25px 18px 0px 16px;
  border-left: 1px solid #cccccc;
}
button
{
  display: inline-block;
  min-width: 50px;
  width: auto;
  height: 50px;
  margin: 0px 10px;
  padding: 0px 15px;
  border-radius: 50px;
  font-size: 24px;
  color: #444444;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #eeeeee), color-stop(1, #999999));
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #ffffff;
  text-shadow: 0px 0px 1px #666666;
}
  button.answer
  {
    color: #ff0000;
  }
  button.active
  {
    color: rgba(51, 51, 255, 0.8);
    text-shadow: 0px 0px 1px #666666, 0px 0px 12px rgba(0, 0, 255, 0.5);
  }
  button.busy
  {
    opacity: 0.4;
    cursor: default;
  }
  button:hover
  {
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #cccccc), color-stop(1, #777777));
  }
  button:active,
  button.busy
  {
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #777777), color-stop(1, #cccccc));
  }
  /* custom buttons */
  button[data-item=timer]
  {
    color: #ffffff;
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #00ee00), color-stop(1, #009900));
    box-shadow: 0px 0px 1px 1px #00ff00;
    text-shadow: 0px 0px 1px 1px #004400;
  }
    button[data-item=timer]:hover
    {
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #00cc00), color-stop(1, #007700));
    }
    button[data-item=timer]:active,
    button[data-item=timer].busy
    {
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #007700), color-stop(1, #00cc00));
    }
    button[data-item=timer].active
    {
      color: rgba(51, 51, 51, 0.8);
      text-shadow: 0px 0px 1px #666666, 0px 0px 12px rgba(255, 255, 255, 1);
    }

  button[data-item=reset]
  {
    color: #ffffff;
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #ee0000), color-stop(1, #990000));
    box-shadow: 0px 0px 1px 1px #ff0000;
    text-shadow: 0px 0px 1px 1px #440000;
  }
    button[data-item=reset]:hover
    {
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #cc0000), color-stop(1, #770000));
    }
    button[data-item=reset]:active,
    button[data-item=reset].busy
    {
      background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #770000), color-stop(1, #cc0000));
    }


/* scoreboard */

.team.busy
{
  opacity: 0.5;
}

