/* frame */
html
{
  height: 100%;
}
body
{
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  background-color: #000000;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
*
{
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  background-position: center center;
  background-repeat: no-repeat;
}
  *:focus
  {
    outline: 0px;
  }
::-webkit-selection
{
  background: transparent;
}
::-moz-selection
{
  background: transparent;
}
::selection
{
  background: transparent;
}

/* generic content */

/* don't ever show audio */
audio
{
  position: relative;
  z-index: 10;
/*  position: absolute;
  visibility: hidden;
*/}

/* scoreboard */
#teams
{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 4% 1%;
  font-size: 24px;
  text-align: center;
}
  #teams:after
  {
    content: none;
  }
.team
{
  position: relative;
  display: inline-block;
  -webkit-box-flex: 0;
  width: 14%;
  height: 70px;
  margin: 0.1em 0.5em;
  padding: 0.4em;
  font-family: "Ubuntu Condensed", sans-serif;
  color: #808080;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  background-clip: padding-box;
  -webkit-transition: top 0.8s, left 0.8s;
}
  .team.checked
  {
    color: #ffffff;
  }
  .team.moving
  {
    z-index: 1;
  }
  body.waiting .team.highlight
  {
    color: #ffffff;
  }
.team>span
{
  display: block;
  padding: 5px 0px;
  text-align: center;
}
.team>.short
{
  width: 100%;
  border-bottom: 1px dotted #888888;
  white-space: nowrap;
}
.team>.full
{
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 100%;
  padding: 5px 9px;
  margin-left: -9px;
  font-size: 18px;
  opacity: 0.7;
}
.team>.points
{
  font-family: "Ubuntu", "Ubuntu Condensed", sans-serif;
}

  /* address different number of teams */
  #teams.atleast_15,
  #teams.atleast_20,
  #teams.atleast_25
  {
    padding: 5% 0.5% 2%;
    font-size: 20px;
  }
  #teams.atleast_15>.team,
  #teams.atleast_20>.team,
  #teams.atleast_25>.team
  {
    height: 9%;
    padding: 0.75% 0.4em;
  }
  #teams.atleast_15>.team>.full,
  #teams.atleast_20>.team>.full,
  #teams.atleast_25>.team>.full
  {
    height: 1.6em;
    overflow: hidden;
  }

/* show full name when waiting for the game */
body.waiting .team>.full
{
  display: block;
}
body.waiting .team>.points
{
  display: none;
}


/* adjusting for special guest feature */
#teams.special_guest:before
{
  content: "";
  -webkit-box-flex: 0;
  position: relative;
  display: inline-block;
  width: 90%;
  height: 7%;
/*   border: 1px dotted #888888; */
}

#teams.special_guest>.team.static
{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  position: absolute;
  top: 70px;
  left: 50%;
  width: 300px; /* 750px (visible box width) / 2 (guest + collective) - 7 (team padding) * 2 (rounded to 15) */
  height: 80px;
  margin: 5% 0.5% 0px;
  font-size: 26px;
  background: none;
/* outline: 1px dashed #ff00ff; */
}
  #teams.special_guest>.team.static.guest
  {
    margin-left: -360px;
  }
  #teams.special_guest>.team.static.collective
  {
    -webkit-box-direction: reverse;
    margin-left: 45px;
    pointer-events: none;
  }
#teams.special_guest>.team.static.collective:before
{
  content: "vs";
  position: absolute;
  top: 0px;
  left: -50px;
  line-height: 90px;
  color: #808080;
  opacity: 0.7;
  pointer-events: none;
}
#teams.special_guest>.team.static>span
{
  -webkit-box-flex: 0;
  display: block;
  max-height: none;
  height: auto;
}
  #teams.special_guest>.team.static>span.full
  {
    display: none;
  }
  body.waiting #teams.special_guest>.team.static>span.full
  {
    display: block;
  }
  body.waiting #teams.special_guest>.team.static>span.points
  {
    display: none;
  }

#teams.special_guest>.team.static>.short
{
  width: 200px;
  border: 0px;
  white-space: normal;
/* outline: 1px dashed #ffff00; */
}
#teams.special_guest>.team.static>.full
{
  position: static;
  width: 100px;
  margin: 0px;
  padding: 5px 0px;
/* outline: 1px dashed #00ffff; */
}
#teams.special_guest>.team.static>.points
{
  width: 100px;
/* outline: 1px dashed #00ffff; */
}
  #teams.special_guest>.team.static.guest>.points
  {
    right: 0px;
  }
  #teams.special_guest>.team.static.collective>.points
  {
    left: 0px;
  }
